<svg id='viz'></svg>

<script src="https://d3js.org/d3.v5.min.js"></script>

<style>
    .link {
        stroke: #aaa;
        opacity: 0.2;
    }

    .node text {
        stroke: #333;
        font-size: 0.7em;
    }

    .node circle {
        stroke: #fff;
        stroke-width: 3px;
    }
</style>

<script>
    var width = 800;
    var height = 600;
    var color = d3.scaleOrdinal(d3.schemeCategory10);
    var linkOpacity = 0.3;


    d3.json("assets/miserables.json").then(function (graph) {

        var force = d3.forceSimulation(graph.nodes)
            .force("charge", d3.forceManyBody().strength(-3000))
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force("x", d3.forceX(width / 2).strength(2))
            .force("y", d3.forceY(height / 2).strength(2))
            .force("link", d3.forceLink(graph.links).id(function (d) { return d.id; }).distance(50).strength(1));

        for (i = 0; i < 200; i++)
            force.tick();

        var adjlist = [];
        graph.links.forEach(function (d) {
            adjlist[d.source.index + "-" + d.target.index] = true;
            adjlist[d.target.index + "-" + d.source.index] = true;
        });

        function neigh(a, b) {
            return a == b || adjlist[a + "-" + b];
        }
        var svg = d3.select("#viz").attr("width", width).attr("height", height);
        var container = svg.append("g");

        svg.call(
            d3.zoom()
                .scaleExtent([.1, 4])
                .on("zoom", function () { container.attr("transform", d3.event.transform); })
        );

        var link = container.append("g").attr("class", "links")
            .selectAll("line")
            .data(graph.links)
            .enter()
            .append("line")
            .attr("class", "link");

        var node = container.append("g").attr("class", "nodes")
            .selectAll("g")
            .data(graph.nodes)
            .enter().append("g")
            .attr("class", "node");
        
        node.append("circle")
            .attr("r", 5)
            .attr("fill", function (d) { return color(d.group); })

        node.append("text")
            .attr("dx", 12)
            .attr("dy", ".35em")
            .text(function (d) { return d.id });

        node.on("mouseover", focus).on("mouseout", unfocus);

        force.on("tick", function() {
            node.call(updateNode);
            link.call(updateLink);
        });


        function focus(d) {
            var index = d3.select(d3.event.target).datum().index;
            node.style("opacity", function (o) {
                return neigh(index, o.index) ? 1 : 0.1;
            });
            link.style("opacity", function (o) {
                return o.source.index == index || o.target.index == index ? linkOpacity : 0.1;
            });
        }

        function unfocus() {
            node.style("opacity", 1);
            link.style("opacity", linkOpacity);
        }

        function fixna(x) {
            if (isFinite(x)) return x;
            return 0;
        }

        function updateLink(link) {
            link.attr("x1", function (d) { return fixna(d.source.x); })
                .attr("y1", function (d) { return fixna(d.source.y); })
                .attr("x2", function (d) { return fixna(d.target.x); })
                .attr("y2", function (d) { return fixna(d.target.y); });
        }

        function updateNode(node) {
            node.attr("transform", function (d) {
                return "translate(" + fixna(d.x) + "," + fixna(d.y) + ")";
            });
        }

    }); // d3.json
</script>