
*/node_modules
npm-debug.log
*/Dockerfile
docker-compose*
.dockerignore
.gitignore
.env
*/bin
*/obj
*/publish
README.md
LICENSE
/Site
/Analysis

# any dir starting with. (except git)
*/.idea
*/.vscode
*/.Data
