# ignore all directories starting with "." with some exceptions
.idea/
.Data/
*local.*.json


# vs user settings
*.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# npm
node_modules/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Tableau & R
*.twbr
.Rhistory
.RData
UserScrape/.env
