* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 11px;
  background-color: rgb(30, 30, 30);
}
@media all and (min-width: 600px) {
  html {
    font-size: 14px;
  }
}

body, select {
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: #eee;
}

select {
  background-color: transparent;
  border: none;
  outline: none;
}

select option {
  background-color: rgb(51, 51, 51);
}

p,
span {
  color: #aaa;
}

html,
div,
ul {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p {
  margin: 0.2em;
  padding: 0px;
}

a {
  color: rgb(148, 168, 172);
  text-decoration: none;
}

span.tag {
  background-color: rgb(66, 66, 66);
  font-size: 0.9em;
  font-weight: bold;
  line-height: 3;
  border-radius: 5px;
  padding: 3px 6px;
  margin-right: 6px;
}


/* Title */
div.title-details > div {
  margin-bottom: 1px;
}

/* common chart elements */

g.chart line.link {
  opacity: 0.2;
}

g.chart path.link {
  fill: none;
  opacity: 0.3;
}

g.chart text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  fill: #eee;
}

g.chart text tspan.subtitle {
  fill: #aaa;
}

g.chart text tspan.subtitle-bold {
  fill: #ccc;
}

/* common chart shapes */
g.chart .selectable {
  stroke: none;
}

g.chart g.node .selectable.selected {
  stroke: #eee;
  stroke-width: 2px;
}
g.chart g.node .selectable.dimmed {
  opacity: 0.4;
}

g.chart text.label.selected {
  font-weight: bold;
}


/* relations chart */

g.chart.relations g.node circle.related {
  opacity: 1;
}

g.chart.relations g.labels rect,
g.chart.relations g.labels circle
{
  display: none;
}

g.chart.relations line.link {
  display: none;
}
g.chart.relations line.link.related {
  display: inherit;
}

g.chart.relations g.label text {
  display: none;
}
g.chart.relations g.label text.selected,
g.chart.relations g.label text.highlighted,
g.chart.relations g.label text.related
{
  display: inherit;
}

g.chart.relations g.label text.related {
  font-size: .8em;
  fill-opacity: 0.6;
  /* fill: #aaa; */
}

g.chart.relations g.label text.highlighted,
g.chart.relations g.label text.selected {
  font-size: 1em;
  fill-opacity: 1;
  /* fill: #fff; */
}


/* flows chart */
g.chart.flows g.node .selectable.dimmed {
  opacity: 1; /* remove dimming effect */
}

/* Legend */
div.legend {
  position: absolute;
  display:flex;
  flex-flow:column;
  padding:5px;
  width: 250px;
  height: auto;
  /* height: 100%; */
  background-color: rgba(37, 37, 37, 0.5);
}

div.legend > * {
  margin: 5px;
} 

g.legend {
  cursor: pointer;
  margin: 5px;
}

g.legend text {
  fill: #eee;
}

div.ChannelRelationPage svg.chart {
  position: absolute;
}

div.ChannelRelationPage {
  width: 100%;
}

div.ChannelRelationPage > * {
  margin: 5px;
}

div.MainChartContainer > * {
  margin: 5px;
}

div.MainChartContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  flex: 1;
}

div.MainChartContainer > .Relations {
  height: 50vh;
  min-height: 400px;
  flex: 1 100%;
}

div.MainChartContainer > .Flows {
  height: 50vh;
  min-height: 600px;
  flex: 1 100%;
}

div.ChannelRelationPage > .Title {
  background-color: rgb(37, 37, 37);
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  min-height: 8em;
  justify-content: space-between;
}

div.ChannelRelationPage > .Title > .Card {
  display: flex;
  height: 8em;
  margin-left: 1em;
  flex:3 30em;
  align-items: center;
}

div.ChannelRelationPage > .Title > .Search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1 20em
}

div.footer {
  margin-top:3em;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

div.footer > * {
  padding-right: 2em;
}

@media all and (min-width: 1200px) {
  div.MainChartContainer > .Relations {
    height: 100%;
    flex: 3 auto;
  }

  div.MainChartContainer > .Flows {
    flex: 50px;
    height: 100%;
  }

  div.ChannelRelationPage {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
  }
}
