.link {
    stroke: #aaa;
    opacity: 0;
}

.labels text {
    stroke: rgb(0, 0, 0);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.labels rect {
    display: none;
}

g.labels circle {
    display: none;
}

.node circle {
    stroke: #fff;
    stroke-width: 1px;
}