* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 11px;
  background-color: rgb(0, 0, 0);
}
@media all and (min-width: 600px) {
  html, input {
    font-size: 16px;
  }
}

body, select, input {
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: #eee;
}

input {
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 0.5em;
  padding: 0.1em 0.8em 0.3em 0.8em;
  font-size: 2em;
}

input:focus {
  box-shadow: 0px 0px 15px rgba(144, 144, 145, 0.75);
}

/* stop the standard focus style */
input[type="text"], input[type="password"], textarea, select { 
  outline: none;
}

select {
  background-color: transparent;
  border: none;
  outline: none;
}

select option {
  background-color: rgb(26, 26, 26);
}

html,
div,
ul {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

a {
  color: rgb(148, 168, 172);
  text-decoration: none;
}
a:hover {
 cursor:pointer;
}

span.tag {
  background-color: rgb(66, 66, 66);
  font-size: 0.9em;
  font-weight: bold;
  line-height: 3;
  border-radius: 5px;
  padding: 3px 6px;
  margin-right: 6px;
}


/* Title */
div.title-details > div {
  margin-bottom: 1px;
}

/* common chart elements */
/* g.chart line.link {
  opacity: 0.2;
} */

g.chart path.link {
  opacity: 0.4;
  fill: none;
}

g.chart text {
  text-shadow: -1px 1 black, 1 1px black, 1px 1 black, 0 -1px black;
  fill: #eee;
}

g.chart text tspan.subtitle {
  fill: #aaa;
}

g.chart text tspan.subtitle-bold {
  fill: #ccc;
}

/* common chart shapes */
g.chart g.node .selectable {
  stroke: none;
  /* transition: all 0.2s; */
}

/* g.chart g.node .selectable.highlighted {
  stroke: #eee;
  stroke-width: 3px;
  stroke-opacity: 0.5;
}
g.chart g.node .selectable.selected {
  stroke: #eee;
  stroke-width: 3px;
  stroke-opacity: 1;
} */

g.chart g.node .selectable.dimmed {
  opacity: 0.5;
}

g.chart text.label.selected {
  font-weight: bold;
}


/* relations chart */

g.chart.relations g.node circle.related {
  opacity: 1;
}

g.chart.relations g.labels rect,
g.chart.relations g.labels circle
{
  display: none;
}

g.chart.relations line.link {
  display: none;
}
g.chart.relations line.link.related {
  display: inherit;
}

g.chart.relations g.label text {
  display: none;
  fill:white;
}

g.chart.relations g.label text.selected,
g.chart.relations g.label text.highlighted,
g.chart.relations g.label text.related
{
  display: inherit;
}

g.chart.relations g.label text.related {
  font-size: .9em;
  fill-opacity: 0.8;
}

g.chart.relations g.label text.highlighted,
g.chart.relations g.label text.selected {
  font-size: 1em;
  fill-opacity: 1;
}


/* flows chart */
g.chart.flows g.node .selectable.dimmed {
  opacity: 1; /* remove dimming effect */
}

/* Legend */
div.legend {
  position: absolute;
  display:flex;
  flex-flow:column;
  padding:5px;
  min-width: 150px;
  width:20%;
  max-width: 250px;
  height: auto;
  /* height: 100%; */
  background-color: rgba(0,0,0,.5);
}

div.legend > * {
  margin: 5px;
} 

g.legend {
  cursor: pointer;
  margin: 5px;
}

g.legend text {
  fill: #eee;
}


/* Relations page layout */

div.ChannelRelationPage svg.chart {
  position: absolute;
}

div.ChannelRelationPage {
  width: 100%;
}

div.ChannelRelationPage > * {
  padding: 5px;
}

div.MainChartContainer > * {
  padding: 0px;
}

div.MainChartContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  flex: 1;
}

div.MainChartContainer > .Relations {
  height: 50vh;
  min-height: 400px;
  flex: 1 100%;
}

div.MainChartContainer > .Flows {
  position: relative;
  height: 50vh;
  min-height: 800px;
  flex: 1 100%;
}

div.ChannelRelationPage > .Title {
  background-color: rgb(22, 22, 22);
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  min-height: 8em;
  justify-content: space-between;
}

div.ChannelRelationPage > .Title > .Card {
  display: flex;
  height: 8em;
  margin-left: 1em;
  flex:3 30em;
  align-items: center;
}

div.ChannelRelationPage > .Title > .Search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1 20em
}

div.footer {
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

div.footer > * {
  padding-right: 2em;
}

@media all and (min-width: 1200px) {
  div.MainChartContainer > .Relations {
    height: 100%;
    flex: 2 auto;
  }

  div.MainChartContainer > .Flows {
    position: absolute;
    right: 5px;
    width: 30%;
    min-width: 500px;
    height: 80vh;
    background-color: rgba(0,0,0,.5);
  }

  div.ChannelRelationPage {
    position: absolute;
    height: 100%;
    margin: 0px;
    top:0px;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
  }

  div.footer {
    position: absolute;
    bottom:1px;
    margin: 5px;
  }
}
