/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0; }

   
/**
 * Basic styling
 */
body {
	font-family: "Open Sans", sans-serif;
	color: rgb(107, 106, 106);
	background-color: #fdfdfd;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	display: flex;
	min-height: 100vh;
	flex-direction: column; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

h1 {
	font-size: 1.5em
}

  /**
 * Links
 */
a {
	color: #0b7b9c;
	text-decoration: none; }
	a:visited {
	  color: #07546b; }
	a:hover {
	  color: #111;
	  text-decoration: underline; }
	.social-media-list a:hover {
	  text-decoration: none; }
	  .social-media-list a:hover .username {
		text-decoration: underline; }