<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ytfunctions20181122074134.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/93ef8661-3e11-4fcc-92ae-d0383e7e4ad3/resourcegroups/ytnetworks/providers/Microsoft.Web/sites/YtFunctions20181122074134</ResourceId>
    <UserName>$YtFunctions20181122074134</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ytfunctions20181122074134.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>